.sidebar.animated.fadeInDown
  .logo-title
    .title
      img(src= url_for('images/logo@2x.png'),style="width:130px;height:130px;border-radius:50%;overflow:hidden;margin-bottom:20px;")
      h3(title="")
        a(href="/")= config.title
      if theme.description
        .description
          p= theme.description

  ul.social-links
    if theme.github
      li
        a(href="http://github.com/" + theme.github)
          i.fa.fa-github
  include footer
